---
---

@import "{{ site.theme }}";

.page-heading {
  display: none;
}
.post-header {
  display: none;
}
.footer-col-wrapper{
  display: none;
}
.site-header {
  display: none;
}
.site-footer {
  display: none;
}